<html>
<head>
    <meta charset="utf-8">
    <title>Backbone.Permissions example</title>
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="../backbone.permissions.js"></script>
    <script src="example.js"></script>
    <style>
        .test-view {
            background: lightgray;
            padding: 10px;
            margin: 10px;
        }
    </style>
    <script id="viewTemplate" type="text/html">
        <h3>Demo View: <%- getRights().join(', ') %></h3>
        <small>Can read?: <%- can('can_read') %></small><br/>
        <small>Can write?: <%- can('can_write') %></small><br/>
        <small>Can swing?: <%- can('can_swing') %></small><br/>
        <small>Can read and swag?: <%- can('can_read can_swag') %></small><br/>
        <small>Cannot swag?: <%- cannot('can_swag') %></small><br/>
    </script>
</head>
<body>
<div class="test-view" id="globalApp"></div>
<div class="test-view" id="localApp"></div>
</body>
</html>
